[submodule ".vim/bundle/Vundle.vim"]
	path = .vim/bundle/Vundle.vim
	url = https://github.com/VundleVim/Vundle.vim.git
[submodule ".vim/bundle/taskpaper.vim"]
	path = .vim/bundle/taskpaper.vim
	url = https://github.com/davidoc/taskpaper.vim
[submodule ".vim/bundle/vim-go"]
	path = .vim/bundle/vim-go
	url = https://github.com/fatih/vim-go
[submodule ".vim/bundle/vim-markdown"]
	path = .vim/bundle/vim-markdown
	url = https://github.com/plasticboy/vim-markdown
[submodule ".vim/bundle/vim-syncr"]
	path = .vim/bundle/vim-syncr
	url = https://github.com/jacob-ogre/vim-syncr
[submodule ".vim/bundle/starlark.vim"]
	path = .vim/bundle/starlark.vim
	url = git@github.com:cappyzawa/starlark.vim.git
