[submodule ".vim/plugged/taskpaper.vim"]
	path = .vim/plugged/taskpaper.vim
	url = https://github.com/davidoc/taskpaper.vim
[submodule ".vim/plugged/vim-go"]
	path = .vim/plugged/vim-go
	url = https://github.com/fatih/vim-go
[submodule ".vim/plugged/vim-markdown"]
	path = .vim/plugged/vim-markdown
	url = https://github.com/plasticboy/vim-markdown
[submodule ".vim/plugged/vim-syncr"]
	path = .vim/plugged/vim-syncr
	url = https://github.com/jacob-ogre/vim-syncr
[submodule ".vim/plugged/starlark.vim"]
	path = .vim/plugged/starlark.vim
	url = git@github.com:cappyzawa/starlark.vim.git
[submodule ".vim/plugged/typescript-vim"]
	path = .vim/plugged/typescript-vim
	url = git@github.com:leafgarland/typescript-vim.git
[submodule ".vim/plugged/vim-javascript"]
	path = .vim/plugged/vim-javascript
	url = git@github.com:pangloss/vim-javascript.git
[submodule ".vim/plugged/vim-jsx-typescript"]
	path = .vim/plugged/vim-jsx-typescript
	url = git@github.com:peitalin/vim-jsx-typescript.git
